/* Color Schema
#070A0E = black
#F5F5F5 = off-white
#8BB9D3 = Infantry blue
#4682B4 = metal blue
#E11818 = Passion red
*/

:root {
  --primary: #8BB9D3;
  --secondary: #4682B4;
  --tertiary: #070A0E;
  --off-white: #F5F5F5;
  --light: #e1f5f4;
  --lettering: #dbe3e3;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
}

/* Googlefont import */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Patrick+Hand&family=Shadows+Into+Light&display=swap');
/* font-family: 'Abel', 'Patrick hand', and 'Shadows Into Light' */


html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  color: var(--lettering);
  background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Karla', sans-serif;
}


p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

nav {
  width: 100%;
  justify-content: center;
}

nav a {
  padding: 6px 10px;
  margin: 0 15px;
  transition: all 0.2s;
  font-size: 1em;
  transition: 0.5s;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
  border-radius: 5px;
  font-size: 1.25em;
  transition: 0.5s;
}

.page-title {
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 2.5rem;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 5px 0;
  border-radius: var(--border-radius);
  border: none;
  color: var(--dark);
  outline: none;
  background-color: var(--secondary);
  transition: all 0.5s;
}

.btn:hover {
  color: var(--secondary);
  background-color: var(--dark);
}


/* FLEX CONTENT */

/* col-sm */
@media screen and (min-width: 640px) {
  .col-sm-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-sm-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-sm-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-sm-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-sm-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-sm-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-sm-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-sm-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-sm-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-sm-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-sm-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-sm-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-sm-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-sm {
    justify-content: space-between;
  }

  .justify-space-around-sm {
    justify-content: space-around;
  }

  .justify-flex-start-sm {
    justify-content: flex-start;
  }

  .justify-flex-end-sm {
    justify-content: flex-end;
  }

  .justify-center-sm {
    justify-content: center;
  }

  .align-stretch-sm {
    align-items: stretch;
  }

  .align-end-sm {
    align-items: flex-end;
  }

  .align-center-sm {
    align-items: center;
  }
}

/* col-md */
@media screen and (min-width: 768px) {
  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-md-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-md-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-md-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-md-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-md-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-md-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-md-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-md-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-md-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-md-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-md-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-md {
    justify-content: space-between;
  }

  .justify-space-around-md {
    justify-content: space-around;
  }

  .justify-flex-start-md {
    justify-content: flex-start;
  }

  .justify-flex-end-md {
    justify-content: flex-end;
  }

  .justify-center-md {
    justify-content: center;
  }

  .align-stretch-md {
    align-items: stretch;
  }

  .align-end-md {
    align-items: flex-end;
  }

  .align-center-md {
    align-items: center;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {
  nav {
    width: auto;
    justify-content: flex-end;
  }

  .page-title {
    width: auto;
  }

  .col-md-auto {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col-lg-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-lg-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-lg {
    justify-content: space-between;
  }

  .justify-space-around-lg {
    justify-content: space-around;
  }

  .justify-flex-start-lg {
    justify-content: flex-start;
  }

  .justify-flex-end-lg {
    justify-content: flex-end;
  }

  .justify-center-lg {
    justify-content: center;
  }

  .align-stretch-lg {
    align-items: stretch;
  }

  .align-end-lg {
    align-items: flex-end;
  }

  .align-center-lg {
    align-items: center;
  }
}

/* col-xl */
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 calc(100% * 1 / 12 - 0.5%);
  }

  .col-xl-2 {
    flex: 0 0 calc(100% * 2 / 12 - 0.5%);
  }

  .col-xl-3 {
    flex: 0 0 calc(100% * 3 / 12 - 0.5%);
  }

  .col-xl-4 {
    flex: 0 0 calc(100% * 4 / 12 - 0.5%);
  }

  .col-xl-5 {
    flex: 0 0 calc(100% * 5 / 12 - 0.5%);
  }

  .col-xl-6 {
    flex: 0 0 calc(100% * 6 / 12 - 0.5%);
  }

  .col-xl-7 {
    flex: 0 0 calc(100% * 7 / 12 - 0.5%);
  }

  .col-xl-8 {
    flex: 0 0 calc(100% * 8 / 12 - 0.5%);
  }

  .col-xl-9 {
    flex: 0 0 calc(100% * 9 / 12 - 0.5%);
  }

  .col-xl-10 {
    flex: 0 0 calc(100% * 10 / 12 - 0.5%);
  }

  .col-xl-11 {
    flex: 0 0 calc(100% * 11 / 12 - 0.5%);
  }

  .col-xl-12 {
    flex: 0 0 100%;
  }

  .justify-space-between-xl {
    justify-content: space-between;
  }

  .justify-space-around-xl {
    justify-content: space-around;
  }

  .justify-flex-start-xl {
    justify-content: flex-start;
  }

  .justify-flex-end-xl {
    justify-content: flex-end;
  }

  .justify-center-xl {
    justify-content: center;
  }

  .align-stretch-xl {
    align-items: stretch;
  }

  .align-end-xl {
    align-items: flex-end;
  }

  .align-center-xl {
    align-items: center;
  }
}
