.cardFormatting {
    max-width: 800px;
    margin: auto;
    border: none
}

p {
   max-width: 800px;
   margin: auto;
   border: none; 
    text-align: center;
}

.cardHeader {
    background-color: var(--secondary);
}