.logo {
    height: 68px;
    display: block;
}

.font {
    font-family: 'Shadows Into Light', 'Patrick Hand', 'Abel', Sans-serif; 
    font-size: 1.5rem;
    color: #F5F5F5;
}

header {
    z-index: 999
}
